.button_custom {
  /*width: 100%;*/
  transition: all .5s;
  border: 1px solid;
}

.button_custom span{
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.dark {
  background-color: var(--UI-Surface-Dark);
  color: #fff;
  border-color: var(--UI-Surface-Dark);
}

.dark:hover {
  background-color: var(--UI-Text-Secondary) !important;
  color: #fff!important;
  border-color: var(--UI-Text-Secondary)!important;
}

.dark.disabled {
  background-color: #F8FAFB;
  cursor: not-allowed;
  color: var(--UI-Text-Disabled);
}

.dark:active {
  background-color: var(--UI-Surface-Dark);
  box-shadow: 0 0 4px var(--shades-brand-20);
}

.primary {
  background-color: var(--Accent-Surface-Brand);
  border-color: var(--Accent-Surface-Brand);
  color: #fff;
}

.primary:hover {
  background-color: var(--brand-darker-hover)!important;
  color: #fff!important;
}

.primary:active {
  background-color: var(--Accent-Surface-Brand);
  box-shadow: 0 0 4px var(--shades-brand-40);
}

.primary.disabled {
  background-color: #E1F1FD;
  cursor: not-allowed;
  color: var(--shades-brand-40);
}

.danger {
  background-color: var(--Red-Base);
  border-color: var(--Red-Base);
  color: #fff;
}

.danger:hover {
  background-color: var(--red-darker-hover)!important;
  border-color: var(--Red-Base)!important;
  color: #fff!important;
}

.danger:active {
  background-color: var(--Red-Base);
  box-shadow: 0 0 4px var(--shades-brand-10);
}

.danger.disabled {
  background-color: var(--UI-Badge-Red);
  cursor: not-allowed;
  color: rgba(222, 44, 65, 0.40);
}

.default {
  border-color: var(--UI-Strock-Soft);
  background-color: #fff;
  color: var(--UI-Text-Tertiary);
}

.default:hover {
  border-color: var(--UI-Strock-Soft) !important;
  background-color: var(--UI-Strock-Soft)!important;
  color: var(--UI-Text-Secondary) !important;
}
.default svg path{
  fill: var(--UI-Text-Secondary) !important;
}
.default:active {
  background-color:var(--UI-Strock-Soft);
  border-color: var(--UI-Strock-Soft);
  box-shadow: 0 0 4px rgba(79, 182, 240, 0.10);
}

.default.disabled {
  background-color: #F8FAFB;
  border-color: #F8FAFB;
  cursor: not-allowed;
  color: var(--UI-Text-Disabled);
}
