.productsContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 1000px;
  margin: 0 auto;
}

.productsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.productsHeader h2{
  font-size: 18px;
  font-weight: 400;
  color: #2B3043;

}

.addButton {
  background-color: #92D871;
  border: none;
  font-weight: bold;
  border-radius: 10px;
}

.customTableWrapper {
  overflow-x: auto;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.customTable thead th {
  background-color: #F6F5FB;
  color: #2B3043;
  font-weight: 400;
  font-size: 16px;
  padding: 20px;
}

:global(.ant-table-tbody > tr:hover > td) {
  background: transparent !important;
}

.customTable :global(.ant-table-thead > tr > th) {
border-right: none !important;
border-left: none !important;
border-inline-end: none !important;
box-shadow: none !important;
}

.customTable th,
.customTable td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #F6F5FB;
}

.customTable td{
  font-size: 16px;
  font-weight: 300;
  color: #2B3043;
  padding: 20px;
}

.actionLink {
  color: #555;
  cursor: pointer;
  margin-right: 10px;
}